Repository zenkdev/vocario: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run prettier

optimized couple of things
  src/App.tsx
  src/components/FirebaseContext.ts
  src/components/SimpleWordCard.tsx
  src/components/StatisticListItem.tsx
  src/pages/Home.tsx
  src/pages/Learn.tsx
  src/pages/Statistics.tsx
  src/services/DictionaryService.ts
  src/services/StatisticService.ts
Due: npm run eslint:fix, npm run prettier

refactored some components
  src/components/Congratulations.tsx
  src/components/OptionButton.tsx
  src/components/SimpleWordCard.tsx
  src/components/index.ts
  src/pages/Home.tsx
  src/pages/Learn.tsx
Due: npm run eslint:fix, npm run prettier

fixed according to audit
  public/index.html
  public/manifest.json
Due: none

improved models
  src/models/Dictionary.model.ts
  src/models/Statistic.model.ts
  src/models/UserProfile.model.ts
  src/models/Word.model.ts
  src/models/index.ts
  src/types.ts
Due: npm run eslint:fix, npm run prettier

improved services
  src/services/ProfileService.ts
  src/services/createLogger.ts
  src/services/index.ts
Due: npm run eslint:fix, npm run prettier

renamed files
  src/App.tsx
  src/AppContext.ts
  src/components/FirebaseContext.ts
  src/components/PrivateRoute.tsx
  src/components/index.ts
  src/models/Dictionary.ts
  src/models/Statistic.ts
  src/models/UserProfile.ts
  src/models/Word.ts
  src/models/index.ts
Due: npm run eslint:fix, npm run prettier

cleaned up some stuff
  src/components/WordCard.tsx
  src/pages/Login.tsx
  src/pages/ResetPassword.tsx
  src/pages/Signup.tsx
Due: npm run eslint:fix, npm run prettier

added keyboard
  package-lock.json
  package.json
  src/components/ResetProgress.tsx
  src/components/WordCard.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/components/index.ts
  src/pages/Learn.tsx
  src/pages/Profile.tsx
  src/types.ts
Due: npm run eslint:fix, npm run prettier

added keyboard
  src/App.tsx
  src/components/AnswerResult.tsx
  src/components/DictionaryListItem.tsx
  src/components/MobileKeyboard.tsx
  src/components/StatisticListItem.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/components/index.ts
  src/pages/Learn.tsx
  src/styles.css
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

0.0.7
  package-lock.json
  package.json
Due: none

fixed profile
  src/App.tsx
  src/AppContext.ts
  src/pages/Learn.tsx
  src/pages/Profile.tsx
  src/services/ProfileService.ts
  src/services/createLogger.ts
Due: npm run eslint:fix, npm run prettier

improved styles
  src/components/AnswerResult.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/styles.css
Due: npm run eslint:fix, npm run prettier

improved ux
  src/components/AnswerResult.tsx
  src/components/If.tsx
  src/components/MobileKeyboard.tsx
  src/components/OptionButton.tsx
  src/components/StatisticListItem.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/components/index.ts
  src/pages/Profile.tsx
  src/services/ProfileService.ts
  src/styles.css
Due: npm run eslint:fix, npm run prettier

updated service worker
  .prettierignore
  src/react-app-env.d.ts
  src/serviceWorker.ts
Due: npm run eslint:fix, npm run prettier

fixed minor things
  src/components/Congratulations.tsx
  src/components/WordCardNormal.tsx
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

added disabled buttons feature
  src/components/Congratulations.tsx
  src/components/MobileKeyboard.tsx
  src/components/WordCardNormal.tsx
  src/services/StatisticService.ts
  src/styles.css
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

added help button
  src/components/AnswerResult.tsx
  src/components/Congratulations.tsx
  src/components/MobileKeyboard.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/styles.css
Due: npm run eslint:fix, npm run prettier

0.0.8
  package-lock.json
  package.json
Due: none

fixed validation
  .gitignore
  src/components/MobileKeyboard.tsx
  src/components/QuestionNormal.tsx
  src/components/QuestionSimple.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/components/WordInput.tsx
  src/components/index.ts
  src/environments/environment.exam.ts
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

imported dct500 from csv
  package-lock.json
  package.json
  scripts/dictionaries.json
  scripts/dictionaries/dct500.csv
  scripts/dictionaries/index.js
  scripts/dictionaries/subj_dct3000.json
  scripts/firebase-init.js
  scripts/firebase-upload.js
Due: npm run prettier

update cards to v2
  src/components/DictionaryListItem.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/components/index.ts
  src/models/Dictionary.ts
  src/models/Word.ts
  src/models/index.ts
  src/pages/Learn.tsx
  src/services/StatisticService.ts
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

fixed wordsLearned
  src/models/Word.ts
  src/pages/Learn.tsx
  src/services/DictionaryService.ts
  src/services/StatisticService.ts
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

fixed statistics
  src/components/StatisticListItem.tsx
  src/models/Statistic.ts
  src/models/Word.ts
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

added font size setting
  src/App.tsx
  src/components/AnswerResult.tsx
  src/components/Button.tsx
  src/components/Congratulations.tsx
  src/components/OptionButton.tsx
  src/components/QuestionNormal.tsx
  src/components/QuestionSimple.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/components/index.ts
  src/models/UserProfile.ts
  src/pages/Profile.tsx
  src/services/ProfileService.ts
  src/types.ts
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

0.0.9
  package-lock.json
  package.json
Due: none

update subjects dictionary
  scripts/dictionaries/index.js
  scripts/dictionaries/subj3000.csv
  scripts/dictionaries/subj_dct3000.json
Due: npm run prettier

fixed subj3000
  scripts/dictionaries/subj3000.csv
Due: none

added irregular verbs
  scripts/dictionaries/index.js
  scripts/dictionaries/irv.csv
  scripts/dictionaries/subj.csv
Due: npm run prettier

added storage facility
  src/index.tsx
  src/models/UserProfile.ts
  src/pages/Learn.tsx
  src/pages/Profile.tsx
  src/services/LocalStoreManager.ts
  src/services/ProfileService.ts
  src/services/index.ts
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

added font size adjustment
  src/App.tsx
  src/components/AnswerResult.tsx
  src/components/Button.tsx
  src/components/Congratulations.tsx
  src/components/DictionaryListItem.tsx
  src/components/MobileKeyboard.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/pages/Profile.tsx
  src/services/LocalStoreManager.ts
  src/styles.css
Due: npm run eslint:fix, npm run prettier

0.0.10
  package-lock.json
  package.json
Due: none

added audio
  src/audio.ts
  src/components/WordCardNormal.tsx
  src/hooks/useAudio.ts
Due: npm run eslint:fix, npm run prettier

added show more feature
  src/pages/Statistics.tsx
Due: npm run eslint:fix, npm run prettier

refactored audio data url storage
  src/audio.ts
  src/audio/buttonClick.ts
  src/components/WordCardNormal.tsx
Due: npm run eslint:fix, npm run prettier

updated readme
  README.md
Due: none

designed factory for models
  src/models/Dictionary.ts
  src/models/Statistic.ts
  src/models/Text.ts
  src/models/UserProfile.ts
  src/models/Word.ts
  src/models/factory.ts
  src/models/index.ts
  src/services/DictionaryService.ts
  src/services/ProfileService.ts
  src/services/StatisticService.ts
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

redesigned statistics
  src/components/StatisticListItem.tsx
  src/components/WordCardNormal.tsx
  src/components/WordCardSimple.tsx
  src/hooks/useAudio.ts
  src/models/Statistic.ts
  src/models/Word.ts
  src/models/factory.ts
  src/models/index.ts
  src/models/modelHelper.ts
  src/pages/Learn.tsx
  src/services/DictionaryService.ts
  src/services/StatisticService.ts
  src/utils.ts
Due: npm run eslint:fix, npm run prettier

reduced fields
  src/components/StatisticListItem.tsx
  src/models/Statistic.ts
  src/models/Word.ts
  src/models/factory.ts
  src/models/modelHelper.ts
  src/pages/Learn.tsx
  src/pages/Statistics.tsx
  src/services/DictionaryService.ts
Due: npm run eslint:fix, npm run prettier

removed audio
  src/audio/buttonClick.ts
  src/components/WordCardNormal.tsx
  src/hooks/useAudio.ts
Due: npm run eslint:fix, npm run prettier

0.0.11
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run eslint:fix: any of: *.{ts,tsx}
  npm run prettier: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
